beacons {
    beacon13 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
    beacon64 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
    beacon32 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
    beacon33 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
    beacon34 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
    beacon35 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
    beacon36 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
    beacon37 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
    beacon38 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
    beacon39 {
        bias = 0;
        temp_initiator_scale = 0;
        temp_responder_scale = 0;
        offsetx = 0.0;
        offsety = 0.0;
    }
}
