<?xml version="1.0"?>
<model>
  <name>Rover</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Gabriel Pascualy</name>
   <email>pascualy@umich.edu</email>
  </author>

  <description>
    This model is used for testing pathing algorithms.
  </description>
</model>
