<launch>
  <!-- We resume the logic in empty_world.launch, -->
  <!-- changing only the name of the world to be launched --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rover_gazebo)/worlds/rover.world"/>
  </include>

  <node name="joy_node" pkg="joy" type="joy_node"/>
  <node name="base_teleop" pkg="base_teleop" type="base_teleop"/>
</launch>